@import url('https://fonts.googleapis.com/css?family=Bahiana|Pangolin');

body{
  background-image: url(images/background.jpg);
  padding: 25px;
}

#logo{
  height: 250px;
  max-height: 250px;
  min-height: 250px;
  float: left;
  margin-right: 10px;
}

.header{
  height: 250px;
  max-height: 250px;
  min-height: 250px;
}

h1{
  font-family: 'Bahiana', cursive;
  font-size: 75px;
  text-decoration-color: brown;


}

#title{
  font-size: 150px;
}

h2{
  font-family: 'Pangolin', cursive;
  font-size: 40px;
}
